.button-control {
  margin: 1rem 0;
}
.button-control button {
  outline: 0;
  border: 0;
  color: white;
  background-color: #7dc2af;
  transition: all 0.3s linear;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 0.3rem 1rem;
  border: 1px solid #7dc2af;
  border-radius: 3px;
}
.button-control button:hover {
  outline: 0;
  border: 0;
  background-color: transparent;
  color: black;
  border: 1px solid #fcde4b;
}
